.PssGame{
    margin: auto;
    padding: 10px;
}

.PssGame Form {

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
